// GRID
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 767px) {
        flex-direction: column;
    }

    .col-narrow {
        width: auto;
        flex-grow: 0;
        flex-shrink: 1;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .col-wide {
        width: 100%;
        flex-grow: 1;
    }

    .col-50 {
        width: 50%;
        flex-shrink: 1;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    .col-33 {
        width: 33.33333333333333%;

        @media (max-width: 767px) {
            width: 100%;
        }
    }
}

.flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}