// TYPOGRAPHY
html, body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.strong {
    font-weight: 700;
}

.very-strong {
    font-weight: 800;
}

.italic {
    font-style: italic;
}

.thin {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px !important;
    font-weight: 400;
    letter-spacing: 3.2px;
    line-height: 27px;
    font-style: normal;
}

.really-small {
    font-size: 11px !important;
    line-height: 1em !important;
    letter-spacing: 1.1px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.yellow-ish {
    color: #bd9b42;
}

.white-ish {
    color: #fefefe;
}

.red {
    color: #88171a;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

* {
    box-sizing: border-box;
}