// BLOCKQOUTES
blockquote {
    display: block;
    margin: 0;
    position: relative;
    padding: 116px 30px 45px 30px;
    border-top: 1px solid #7a7a7a;

    @media (max-width: 550px) {
        padding-left: 16px;
        padding-right: 16px;
    }

    &:before {
        content: "";
        width: 65px;
        height: 42px;
        display: inline-block;
        background: url(../images/quotation-mark1.png) no-repeat center center;
        background-size: 63px auto;
        position: absolute;
        top: 42px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    &.with-box {
        background-color: #bcbbc4;
        padding: 80px 165px 70px 165px;
        margin: 0;
        margin-top: 75px;
        margin-bottom: 16px;
        border: none !important;

        @media (max-width: 850px) {
            padding-left: 80px;
            padding-right: 80px;
        }

        @media (max-width: 550px) {
            padding-left: 35px;
            padding-right: 35px;
        }

        &:before {
            width: 120px;
            height: 120px;
            background-size: 107px auto;
            top: 0;
            transform: translate(-50%, -50%);
        }

        p {
            font-size: 22px !important;
            letter-spacing: 2.2px;
            margin-bottom: 35px !important;

            &.strong {
                font-weight: 700;
                font-style: normal;
            }

            &.author {
                margin: 0 !important;
                font-size: 16px !important;
            }
        }
    }

    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        letter-spacing: 2.2px;
        line-height: 1.635em;
        font-style: italic;
        font-size: 18px !important;
        letter-spacing: 1.8px;
        margin-bottom: 30px !important;

        &.strong {
            font-weight: 700;
            font-style: normal;
        }

        &.author {
            margin: 0 !important;
        }
    }

    &:nth-of-type(2n) {

        &:before {
            background-image: url(../images/quotation-mark2.png);
        }
    }

    &:last-of-type {
        border-bottom: 1px solid #7a7a7a;
    }
}