// BUTTONS
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #bd9b42;
    border: none;
    color: #1e1e1e;
    font-weight: 800;
    font-style: italic;
    line-height: 1em;
    letter-spacing: 0.9px;
    cursor: pointer;
    text-decoration: none !important;
    transition: all .5s ease-in-out;
    font-size: 12px;
    min-height: 35px;
    padding: 0 16px;

    &:hover {
        background-color: #ac882f;
    }

    img {
        width: 6px;
        margin-left: 8px;
    }

    &.button-back {
        
        img {
            margin-left: 0 !important;
            margin-right: 8px;
            transform: rotate(-180deg);
        }
    }

    &.large {
        min-height: 60px;
        padding: 0 30px;
        font-size: 18px;

        @media (max-width: 767px) {
            width: 100%;
        }
        
        @media (max-width: 370px) {
            font-size: 16px;
            padding-left: 5px;
            padding-right: 5px;
        }

        img {
            width: 9px;
            margin-left: 16px;
        }
    }

    &.very-large {
        min-height: 80px;
    }

    &.gray {
        background-color: #97979e !important;
        justify-content: flex-start;
        font-weight: 400;
        width: 100%;
        cursor: default !important;
    }

    &.blue {
        background-color: #07172a;
        justify-content: flex-start;
        font-weight: 400;
        width: 100%;
        cursor: default !important;
        color: #fdfdfd !important;
        font-size: 23px !important;
        font-weight: 700 !important;
        line-height: 1em !important;
        letter-spacing: 1.4px !important;
        text-transform: none !important;
        font-style: normal;

        img {
            height: 45px;
            width: auto;
        }
    }
}

a {

    &.black-link {
        color: #1e1e1e;
    }
}