// CONTACT FORM
.contact-form {
    
    input,
    textarea {
        width: 100%;
        height: 35px;
        background-color: #97979e;
        border: none;
        padding: 12px;
        color: #1e1e1e;
        font-family: "Open Sans";
        font-size: 14px;
        font-style: italic;
        line-height: 1em;
        letter-spacing: 1.3px;
    }

    textarea {
        min-height: 108px;
    }

    label {
        color: #1e1e1e;
        font-size: 13px;
        font-weight: 600;
        line-height: 1em;
        letter-spacing: 1.2px;
    }

    input[type="checkbox"] {
        width: 0;
        height: 0;
        opacity: 0;

        & + label {
            position: relative;
            margin-right: 20px;

            &:after {
                content: "";
                position: absolute;
                right: -20px;
                top: 50%;
                transform: translateY(-50%);
                width: 12px;
                height: 12px;
                background-color: #97979e;
                border: 2px solid #97979e;
                display: inline-block;
            }
        }

        &:checked {

            & + label {

                &:after {
                    background: #2a2a30
                }
            }
        }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #1e1e1e;
        font-family: "Open Sans";
        font-size: 14px;
        font-style: italic;
        line-height: 1em;
        letter-spacing: 1.3px;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #1e1e1e;
        font-family: "Open Sans";
        font-size: 14px;
        font-style: italic;
        line-height: 1em;
        letter-spacing: 1.3px;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #1e1e1e;
        font-family: "Open Sans";
        font-size: 14px;
        font-style: italic;
        line-height: 1em;
        letter-spacing: 1.3px;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #1e1e1e;
        font-family: "Open Sans";
        font-size: 14px;
        font-style: italic;
        line-height: 1em;
        letter-spacing: 1.3px;
    }

    .flex-container {
        margin-bottom: 20px;

        @media (max-width: 767px) {
            flex-direction: row;

            .col-narrow {
                width: auto;
            }

            .col-wide {
                width: 100%;
            }
        }

        @media (max-width: 450px) {
            flex-direction: row;
            flex-wrap: wrap;

            .col-narrow {
                width: 100%;
            }

            .col-wide {
                width: 100%;
            }
        }

        .col-narrow {
            min-width: 105px;

            &.dash-container {
                min-width: 25px;
                max-width: 25px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 450px) {
                    display: none !important;
                }
            }

            p {
                color: #1e1e1e;
                font-size: 14px;
                line-height: 1em;
                text-transform: uppercase;
                letter-spacing: 1.31px;
                font-weight: 600;
                height: 35px;
                display: flex;
                align-items: center;
                margin: 0 !important;

                .asterisk {
                    color: #821517;
                }
            }
        }

        .col-wide {

            &.margin-right {
                margin-right: 8px;

                @media (max-width: 450px) {
                    margin-right: 0;
                }
            }

            &.margin-left {
                margin-left: 8px;

                @media (max-width: 450px) {
                    margin-left: 0;
                }
            }

            &.area-code-container {
                max-width: 104px;

                @media (max-width: 450px) {
                    max-width: 100%;
                }
            }
        }
    }

    p {

        &.captcha-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @media (max-width: 450px) {
                flex-wrap: wrap;
            }

            span {
                color: #1e1e1e;
                font-size: 13px;
                font-weight: 600;
                line-height: 1em;
                letter-spacing: 1.2px;
                margin-right: 10px;

                @media (max-width: 450px) {
                    min-width: 100%;
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }

            .refresh {
                margin-left: 10px;
                margin-right: 10px;
                display: flex;
                align-items: center;
                min-width: 16px;
            }

            input.captcha-answer {
                width: 96px;
            }
        }
    }

    .button {
        width: 96px;
        height: 34px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1em;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-style: normal;

        &.reset {
            background-color: #97979e;
            color: #1e1e1e;
        }

        &.submit {
            background-color: #07172a;
            color: #fdfdfd;
        }
    }

    .mobile-margin {

        @media (max-width: 450px) {
            margin-bottom: 5px;
        }
    }
}