// KEYFRAMES

@keyframes show-sheet {
    0% {
        display: none;
        opacity: 0;
    }
    
    1% {
        display: block;
        opacity: 0;
    }
    
    to {
        display: block;
        opacity: 1;
    }
}

@keyframes hide-sheet {
    0% {
        display: block;
        opacity: 1;
    }
    
    99% {
        display: block;
        opacity: 0;
    }
    
    to {
        display: 0;
        opacity: 0;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}