// LISTS
ul, ol {

    &.list-block {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-left: 0 !important;

        li {
            min-height: 74px;
            background-color: #97979e;
            padding: 30px 25px;
            margin-bottom: 14px;
            color: #031324;
            font-size: 18px;
            letter-spacing: 1.8px;
            line-height: 1.22em;
            list-style-position: inside;
        }
    }

    &.desktop-columns {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        li {
            width: 49.5%;

            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
}

.list-header {
    min-height: 74px;
    border: 1px solid #010101;
    background-color: #031324;
    padding: 30px 25px;
    color: #fdfdfd !important;
    font-size: 20px !important;
    line-height: 1.35em;
    letter-spacing: 2px;
}

ol {
  counter-reset: item;
}

ol > li {
  padding-left: 65px !important;
  text-indent: -27px;
  list-style-type: none;
  counter-increment: item;
}

ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}