// LOADER
.loader,
.modal-custom {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 25000;
    display: none;

    &.active {
        animation: show-sheet .5s ease-in-out forwards;
        display: flex;
    }

    &.inactive {
        animation: hide-sheet .5s ease-in-out forwards;
        display: flex;
    }

    .loader-inner {
        display: inline-block;
        width: 80px;
        height: 80px;
        border: 5px solid #bd9b42;
        border-left: none;
        animation: loader .85s infinite;
        border-radius: 50%;
    }

    .modal-inner {
        width: 100%;
        max-width: 350px;
        margin-right: 16px;
        margin-left: 16px;
        background: #fff;
        padding: 35px;
        position: relative;
        border-radius: 5px;
        box-shadow: 0 -4px 42px 2px rgba(0, 0, 0, 0.75);

        h4 {
            font-size: 25px;
            margin-bottom: 16px;
            margin-top: 0;
        }

        p {
            line-height: 1.45em;
        }

        &.active {
            animation: show-sheet .5s ease-in-out forwards;
            display: flex;
        }

        &.inactive {
            animation: hide-sheet .5s ease-in-out forwards;
            display: flex;
        }

        .close-modal-custom {
            position: absolute;
            right: 25px;
            top: 16px;
            font-size: 25px;
            cursor: pointer;
            color: #000;
            opacity: 1;
            transition: all .5s ease-in-out;

            &:hover {
                opacity: .8;
            }
        }
    }
}