// PAGINATION
.bottom-navigation-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;

    @media (max-width: 767px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .placeholder {
        width: 114px;
    }

    .pagination-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        a {
            color: #1e1e1e;
            font-size: 12px;
            font-weight: 700;
            line-height: 1em;
            margin-right: 16px;

            &:last-of-type {
                margin-right: 0;
            }
        }

        .pagination-arrow {
            width: 37px;
            height: 35px;
            background-color: #031324;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .5s ease-in-out;

            &:hover {
                background-color: #082441;
            }

            &.back {

                img {
                    transform: rotate(-180deg);
                }
            }

            &.next {
                margin-left: 16px;
            }

            &.not-active {
                opacity: 0;
                pointer-events: none;
            }
        }
    }

    .to-top-container {

        @media (max-width: 767px) {
            margin-top: 35px;
        }

        .button {

            img {
                transform: rotate(-90deg);
            }
        }
    }
}