<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800,800i|Ubuntu:500,700" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js?render=6LfvD7MUAAAAAC_S_G9GaPt8mHRqMjQeNUUuZTEx"></script>
    <title>fabicash</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but fabicash doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <script src="//www.google.com/recaptcha/api.js" defer></script>
  <script src="https://cdn.jsdelivr.net/mojs/latest/mo.min.js" defer></script>
  <script src="js/scripts.js" defer></script>
</html>
