<template>
  <div class="content-top about">
    <p>
      FABICash® is a national cash access, Title 31 AML Compliance and online sports betting software company who services
      over 150 casinos throughout the United States and Canada. First American Bankcard, Inc., founded and wholly owned by
      Anthony F. Rabito, Jr., has been in the gaming industry since 1996. We have always provided the
      most reliable ATM, Cash Advance, Check Cashing, and now Title 31 AML Compliance and online sports betting services in
      the gaming industry. FABICash is the award-winning leader in developing new technology based on the needs of
      our casino customers.
    </p>
    <p class="strong no-margin-bottom">
      Our platform has been proven to meet the following objectives:
    </p>
    <ul>
      <li>
        Eliminate system downtime
      </li>
      <li>
        Put more money on the gaming floor
      </li>

      <li>
        Make Cage operations more efficient
      </li>

      <li>
        Eliminate fraud and chargebacks
      </li>

      <li>
        Improve customer service and satisfaction
      </li>

      <li>
        Keep casino federally compliant
      </li>

      <li>
         Provide scalable technology to constantly develop new innovative services
      </li>
    </ul>
    <p>
      The FABICash® culture is one of partnership and service. We know it takes a dedicated team to keep your casino
      running
      at peak performance and we see ourselves as part of that team.
    </p>
    <blockquote class="with-box center">
      <p>
          We built our company on quality of products and services,
          being the leader in technology, and most importantly on
          exceptional customer service and support after the sale.
          FABICash has always exceeded our customers’ expectations.
      </p>
      <p class="uppercase thin author">- ANTHONY RABITO</p>
    </blockquote>
  </div>
</template>
<script>
import { mapState, mapMutations } from 'vuex';
export default {
  name: 'AboutPage',
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('About')
  },
}

</script>