<template>
  <div class="content-top company">
    <p>
			At FABICash we love what we do. We work hard to ensure that our casino customers and their patrons enjoy secure and convenient access to cash on a 24/7/365 basis. We take pride in our products, services and especially in providing exceptional customer service.
		</p>
  	<p class="strong">
			Take a moment to visit these pages on:
	  </p>

    <div class="flex-container row">
      <div class="col-50">
        <div class="flex-container">
          <div class="col-wide">
            <p class="button large gray">The History of FABICash®</p>
          </div>

          <div class="col-narrow">
            <router-link to="/about" class="button large">
              <span class="text">TELL ME MORE</span>
              <img src="@/assets/images/chevron-right.png" alt="Chevron right" />
            </router-link>
          </div>
        </div>
      </div>
      <div class="col-50">
        <div class="flex-container">
          <div class="col-wide">
            <p class="button large gray">FABICash® at Industry Events</p>
          </div>

          <div class="col-narrow">
            <router-link to="/events" class="button large">
              <span class="text">TELL ME MORE</span>
              <img src="@/assets/images/chevron-right.png" alt="Chevron right" />
            </router-link>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-container row">
      <div class="col-50">
        <div class="flex-container">
          <div class="col-wide">
            <p class="button large gray">The FABICash® Management Team</p>
          </div>

          <div class="col-narrow">
            <router-link to="/management" class="button large">
              <span class="text">TELL ME MORE</span>
              <img src="@/assets/images/chevron-right.png" alt="Chevron right" />
            </router-link>
          </div>
        </div>
      </div>

      <div class="col-50">
        <div class="flex-container">
          <div class="col-wide">
            <p class="button large gray">FABICash® Proposal Guarentee</p>
          </div>

          <div class="col-narrow">
            <router-link to="proposal-guarantee" class="button large">
              <span class="text">TELL ME MORE</span>
              <img src="@/assets/images/chevron-right.png" alt="Chevron right" />
            </router-link>
          </div>
        </div>
      </div>
    </div>

    <div class="images-container">
      <div class="flex-container">
        <div class="col-33">
          <img src="@/assets/images/company1.jpg" alt="Company img" class="full-width" />
        </div>

        <div class="col-33 flex-vertical">
          <img src="@/assets/images/company2.jpg" alt="Company img" class="full-width" />
          <img src="@/assets/images/company3.png" alt="Company img" class="full-width" />
        </div>

        <div class="col-33">
          <img src="@/assets/images/company4.png" alt="Company img" class="full-width" />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapMutations } from 'vuex';
export default {
  name: 'CompanyPage',
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('Company')
  },
}
</script>