<template>
  <div class="content-top contact">
    <div class="content-left">
      <p class="no-margin-bottom">
        <span class="strong">CORPORATE OFFICE:</span> 3350 Ridgelake Drive, Suite 114, Metairie, Louisiana 70002
      </p>

      <p class="no-margin-bottom">
        <span class="strong">PHONE:</span> 504.837.2626
      </p>

      <p>
        <span class="strong">FAX:</span> 504.837.2610
      </p>

      <p class="larger uppercase strong no-margin-bottom">
        CONTACT US
      </p>

      <p class="really-small">
        * <span class="red">Indicates required field</span>
      </p>
      <!--Contact Form Begin-->
      <form class="contact-form" id="contact-form">
        <div class="flex-container">
          <div class="col-narrow">
            <p class="label">NAME<span class="asterisk">*</span></p>
          </div>

          <div class="col-wide margin-right">
            <input 
              type="text" 
              name="first-name" 
              id="first-name-input" 
              placeholder="First" 
              class="mobile-margin" 
              required 
              v-model="contactData.firstName"
              :class="{ 'is-invalid': $v.contactData.firstName.$invalid }"
              >
          </div>

          <div class="col-wide margin-left">
            <input 
              type="text" 
              name="last-name" 
              id="last-name-input" 
              placeholder="Last" 
              required 
              v-model="contactData.lastName"
              :class="{ 'is-invalid': $v.contactData.lastName.$invalid }">
          </div>
          
        </div>
        <div class="invalid-feedback" v-if="$v.contactData.firstName.$error">
            <span v-if="$v.contactData.firstName.required">The first name field is required.</span>
            <span v-if="$v.contactData.firstName.minLength">The first name must be at least 2 characters</span>
          </div>
          <div class="invalid-feedback" v-if="$v.contactData.lastName.$error">
            <span v-if="$v.contactData.lastName.required">The last name field is required.</span>
            <span v-if="$v.contactData.lastName.minLength">The last name must be at least 2 characters</span>
          </div>
        <div class="flex-container">
          <div class="col-narrow">
            <p class="label">TITLE</p>
          </div>

          <div class="col-wide">
            <input type="text" name="title" id="title-input" placeholder="" v-model="contactData.title">
          </div>
        </div>

        <div class="flex-container">
          <div class="col-narrow">
            <p class="label">EMAIL<span class="asterisk">*</span></p>
          </div>

          <div class="col-wide">
            <input 
              type="email" 
              name="email" 
              id="email-input" 
              placeholder="Emailname@example.com" 
              required 
              v-model="contactData.email"
              :class="{ 'is-invalid': $v.contactData.email.$invalid }">
          </div>
        </div>
        <div class="invalid-feedback" v-if="$v.contactData.email.$error">
            <span v-if="$v.contactData.email.required">The email field is required.</span>
            <span v-if="$v.contactData.email.email">Please enter valid email address.</span>
          </div>
        <div class="flex-container">
          <div class="col-narrow">
            <p class="label">PHONE</p>
          </div>

          <div class="col-wide area-code-container">
            <input type="text" name="area-code" id="area-code-input" placeholder="Area Code" class="mobile-margin" v-model="contactData.areaCode">
          </div>

          <div class="col-narrow dash-container">
            &nbsp;-&nbsp;
          </div>

          <div class="col-wide">
            <input type="tel" name="phone" id="phone-input" placeholder="Phone Number" v-model="contactData.phone">
          </div>
        </div>

        <div class="flex-container">
          <div class="col-narrow">
            <p class="label">COMPANY</p>
          </div>

          <div class="col-wide">
            <input type="text" name="company" id="company-input" placeholder="" v-model="contactData.company">
          </div>
        </div>

        <div class="flex-container">
          <div class="col-narrow">
            <p class="label">MESSAGE<span class="asterisk">*</span></p>
          </div>

          <div class="col-wide">
            <textarea name="message" cols="30" rows="10" id="message-input" placeholder="Type Message Here" required v-model="contactData.message"></textarea>
          </div>
        </div>
          
        <div class="right">
          <!-- <div class="g-recaptcha" data-sitekey="6LfvD7MUAAAAAC_S_G9GaPt8mHRqMjQeNUUuZTEx" data-callback="recaptchaCallback" style="margin-left:418px"> </div> -->
          <input type="button" value="SUBMIT" class="button submit margin-right" id="btnSubmit" @click="submitToAPI()" /> <!--style="position:relative; float:right"-->
        </div>
      </form>
      <!--Contact Form End-->
    </div>
  </div>
</template>
<script>

import { required, minLength, email } from 'vuelidate/lib/validators'
import { mapMutations } from 'vuex';
export default {
  name: 'ContactPage',
  methods: {
    ...mapMutations([
      'setTitle'
    ]),
    submitToAPI() {
      this.$v.contactData.$touch()
      if (!this.$v.contactData.$error) {
        let URL = "https://ycn4endx1m.execute-api.us-east-2.amazonaws.com/Production/fabicash-website-contact-emailer";
        // let googleresponse = jQuery('#g-recaptcha-response').val();

        // if (!googleresponse) {
        //     $('<p style="color:red !important" class=error-captcha"><span class="glyphicon glyphicon-remove " ></span> Please verify the captcha.</p>" ').insertAfter("#btnSubmit");
        //     return false;                
        // } 

        let data = {
          name: this.contactData.firstName + ' ' + this.contactData.lastName,
          title: this.contactData.title,
          email: this.contactData.email,
          phone: this.contactData.areaCode + this.contactData.phone,
          company: this.contactData.company,
          message: this.contactData.message
        };

        $.ajax({
          type: "POST",
          url: URL,
          dataType: "json",
          crossDomain: "true",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify(data),

          success: function () {
            document.getElementById("contact-form").reset();
            this.contactData = {
              firstName: '',
              lastName: '',
              title: '',
              email: '',
              areaCode: '',
              phone: '',
              company: '',
              message: ''
            }
            $('<p style="color:red !important" class=error-captcha"><span class="glyphicon glyphicon-remove " ></span>Form Submitted.</p>" ').insertAfter("#btnSubmit");
            // location.reload();
          },
          error: function (error) {
              // show an error message
              alert("UnSuccessfull");
              console.log(error)
          }
        });
      }      
    }
  },
  created() {
    this.setTitle('Contact')
  },
  data() {
    return {
      contactData: {
        firstName: '',
        lastName: '',
        title: '',
        email: '',
        areaCode: '',
        phone: '',
        company: '',
        message: ''
      }
    }
  },
  validations: {
    contactData: {
      firstName: { required, minLength: minLength(2) },
      lastName: { required, minLength: minLength(2) },
      email: { required, email }
    }
  }
}
</script>
