<template>
  <div class="content-top">
    <p class="strong no-margin-bottom">
      FABICash End-User License Agreement
    </p>
    <p>
      Last Updated: October 18, 2019
    </p>

    <p>This End-User License Agreement (<b>Agreement</b>) is between the business or individual accepting this Agreement (this business or individual being <b>you</b>) and FABICash (<b>Developer</b>). This Agreement is solely between you and Developer, and governs your use of Developer's software application and the corresponding services it provides (together, along with the associated documentation, proprietary, or intellectual property: the <b>App</b>). Review this Agreement completely. <b>You agree to be bound by the terms of this Agreement when you click "Accept" or otherwise download, install, copy, or use the App, and must accept this Agreement before doing so.</b> If you do not agree to the terms of this Agreement, you must click "Decline" and must not download, install, copy or use the App.</p>

    <p>1. The App</p>
    <p>
      1.1 The App will provide you with the ability to: Utilize the App in conjunction with FABITrack Jackpot Module. The App will allow the user to process and complete Jackpot tax information and processing as per users’ regulations, policy and procedures.
    </p>

    <p>
      1.2 Developer grants you a limited, non-exclusive, non-transferable, non-sublicensable, revocable license during the Term (defined below) of this Agreement to use the App solely for your internal business purposes. You will not otherwise distribute, lease, rent, host, sublicense, transfer, sell, export, modify, reverse engineer, decompile, copy, benchmark, create derivative works from, or attempt to derive the source code for the App. This license does not grant you any rights to Developer's (or any other third party's) trademarks, service marks, logos, trade dress, proprietary, or other intellectual property unless provided with the App. Developer reserves to itself (or applicable third parties) all right, title, interest, and license (express or implied) to the App that are not specifically granted to you under this Agreement. You will preserve and display any proprietary notices, markings, or branding associated with use of the App.
    </p>

    <p>
      1.3 The App may update automatically from time-to-time, and you may be required to accept these updates to continue using the App. Developer may perform maintenance on the App, which may result in service interruptions or delays from time-to-time. Developer may not support older versions of the App. You are solely responsible for obtaining all equipment and services (e.g., Internet connectivity) necessary to access and use the App.
    </p>

    <p>
      2. Term
    </p>
    <p>This Agreement commences when you accept or otherwise download, install, copy, or use the App; and will continue month-to-month until terminated (this period of time is the Agreement's <b>Term</b>).</p>

    <p>
      3. Suspension and Termination
    </p>
    <p>
      3.1 Developer may promptly suspend or terminate your use of the App if (1) you violate this Agreement's terms; (2) Developer believes your use of the App may damage its reputation or intellectual property rights; (3) Developer suspends or terminates its agreement(s) with any third party involved in providing the App; (4) you exceed normal and reasonable usage for the App; (5) you experience a bankruptcy or insolvency event; or (6) you are using the App for any fraudulent, illegal, or unauthorized purpose, or engage in willful misconduct with respect to use of the App. 3.2 You may terminate this Agreement at any time and for any reason (without cause) by providing notice to Developer
    </p>
    <p>
      4. Confidentiality, Data, and Ideas
    </p>
    <p>4.1 Neither of us will disclose non-public information about the other's business; including, without limitation, the terms of this Agreement, technical specifications (whether related to the App or otherwise), customer lists, or information relating to a party's operational, strategic, or financial matters (together, <b>Confidential Information</b>). Confidential Information does not include information that (1) is or subsequently becomes publicly available (through no fault of the recipient); (2) the recipient lawfully possesses before its disclosure; (3) is independently developed without reliance on the discloser's Confidential Information; or (4) is received from a third party that is not obligated to keep it confidential. Each of us will implement and maintain reasonable safeguards to protect the other's Confidential Information.</p>
    <p>
      4.2 Neither of us may disclose the other's Confidential Information except (1) to our respective directors, officers, employees, or representatives that need to know it in order to perform our obligations under this Agreement; (2) in response to a subpoena or court order; or (3) as required by applicable law, rule, or regulation.
    </p>

    <p>
      4.3 Developer may use data or information obtained through the App to provide its services, for research and development, or in aggregated and anonymized form to provide services generally; all subject to applicable Laws (defined below). Information Developer collects about you or your consumers is subject to Developer's privacy policy.
    </p>
    <p>
      5. Account
    </p>
    <p>
      You will be required to register for an account with Developer to use the App. You will provide us with accurate information when setting-up your account, and will maintain your account with current information. You will be responsible for establishing safeguards designed to prevent unauthorized access to, disclosure, use, or alteration of your account (safeguards may include, without limitation, user names, passwords, security questions and answers, or other credentials). You must notify Developer if you discover a security breach involving your account or the App. You are responsible for any unauthorized access to, disclosure, use, or alteration of your account, the App, or other transaction information that arises through your systems or account. It is your responsibility to back-up and maintain the accuracy and completeness of any content created, derived from, stored, or accessed through your account or your use of the App (content may include, without limitation, transaction information, text, images, graphics, or photos).
    </p>
    <p>
      6. Risk Allocation
    </p>
    <p>
      6.1 The App is provided to you "as-is" and "as-available." You are solely responsible for determining if the App meets your needs. <b><i>Developer disclaims all warranties (express or implied) related to your account or the App; including, without limitation, warranties of security, merchantability, fitness for a particular purpose, non-infringement, accuracy, and uninterrupted or error-free operation. </i></b> Developer is not responsible for any disclosures, modifications, deletions, or other errors that arise in connection with your use of the App due to its interaction with other applications or their content.
    </p>

    <p>6.2 You will indemnify Developer, its directors, officers, employees, agents, subsidiaries, and affiliates against any third party claims for losses, damages, costs, or expenses (including reasonable attorneys' fees) (together, <b>Losses</b>) that result from your use or misuse of the App, or your breach of this Agreement. Developer may assume the defense of any third party claims that you must indemnify it for (at your expense), and you will cooperate with the defense of these claims. You will not settle any third party claims involving more than the payment of money without Developer's written consent.</p>
    <p>
      6.3<b><i> To the extent permitted by applicable law, Developer will not be liable to you for any lost profits, revenues, or business opportunities, nor any exemplary, punitive, special, indirect, incidental, or consequential damages; regardless of whether these damages were foreseeable or either of us was advised they were possible. </i></b>
    </p>

    <p>
      7. Communications
    </p>
    <p>
      You authorized Developer to communicate with you electronically or otherwise using the contact information you provide to it (e.g., without limitation, via your account, the Internet, email, text, or live agent or automated calls to your mobile or other phone, even if these numbers appear on a Do Not Call or other non-solicitation registry). You are responsible for any fees charged by you communications provider for phone, text, or email communications that Developer sends to you.
    </p>

    <p>8. General</p>
    <p>8.1 You represent and warrant that you have authority to enter into this Agreement, creating performance obligations that are legally enforceable against you.</p>
    <p>8.2 Developer may modify this Agreement from time-to-time and will provide you with notice when these modifications occur (notification may be through the App, email, a website, changes to the date shown at the top of this Agreement, or other electronic means). Your continued use of the App indicates your acceptance of any modifications to this Agreement. You must stop using and uninstall the App if you do not agree to any modifications that are made to this Agreement.</p>
    <p>8.3 Each of us will comply with the laws, rules, and regulations (together, <b>Laws</b>) that apply to our respective performance under this Agreement; including, without limitation, laws related to the collection and use of consumer information obtained via the App. You will follow the requirements of all user documentation provided for the App. You will not use your App to access, store, or transmit materials that are tortious, libelous, or offensive; contain malicious code, viruses, time bombs, Trojan horses, bots, scrips or other programs; or infringe third parties' intellectual property rights.</p>
    <p>
      <span style="background-color:yellow"> 8.4 This Agreement is governed by New York law, without regard to its conflicts or choice of law statutes. The courts in or for Suffolk County, New York are proper venue for any proceedings in connection with this Agreement. <b>Both of us waive our rights to a trial by jury in connection with this Agreement.</b></span>
    </p>
    <p>8.5 This is the entire agreement between us, and supersedes any prior agreements related to its subject matter. Any sections or terms of this Agreement that are, or become, invalid or unenforceable will be severed; and the remaining terms will continue in effect. Developer is not waiving any of its rights under this Agreement if it delays their exercise or fails to exercise them. We are independent contractors. This Agreement does not create an agency, partnership, or joint venture of any kind.</p>
    <p>8.6 You may not assign this Agreement without Developer's written consent, which assignment is voidable by the Developer; however, Developer may assign this Agreement without notice to you or your consent.</p>
    <p style="margin:0px">8.7 You may contact Developer at:</p>
    <p style="margin:0px">Address : 3350 Ridgelake Drive, Suite 114, Metairie, LA 70002</p>
    <p style="margin:0px">Phone: 504-837-2626</p>
    <p style="margin:0px">Email: info@fabiatm.com</p>
  </div>
</template>
<script>
import { mapMutations } from 'vuex';
export default {
  name: 'EndUserAgreement',
  methods: {
    ...mapMutations([
      'setTitle',
      'setSubTitle'
    ])
  },
  created() {
    this.setTitle('FABICash End-User License Agreement')
    this.setSubTitle('Last Updated: October 18, 2019')
  },
  destroyed() {
    this.setSubTitle('')
  }
}
</script>
