<template>
  <div class="content-top events">
    <p class="strong">
      Meet FABICash at the following trade shows for a demo!
    </p>
    <div class="flex-container event-item" v-for="(item, index) in eventList" :key="index">
      <div class="col-narrow date-container">
        <p class="month">
          {{ item.month }}
        </p>
        
        <p class="date">
          {{ item.date }}
        </p>
      </div>

      <div class="col-wide">
        <p class="strong">
          {{ item. title }}
        </p>

        <p class="smaller italic">
          {{ item.address }}
        </p>

        <p class="thin" v-if="item.sub_address">
          {{ item.sub_address }}
        </p>
      </div>
    </div>
    <div class="bottom-navigation-container">
      <div class="placeholder"></div>

      <div class="to-top-container">
          <a href="#" class="button scroll-to-top">
              <span class="text">Back to Top</span>
              <img src="@/assets/images/chevron-right.png" alt="Chevron right">
          </a>
      </div>
    </div>
  </div>
</template>
<script>
import { mapMutations, mapState } from 'vuex';
export default {
  name: 'EventsPage',
  computed: {
    ...mapState({
      eventList: state => state.events.data
    })
  },
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('Events')
  },
}
</script>
