<template>
  <div class="content-top fabisport">
    <p>
      FABISport® is the bridge between on-premise and online sports betting platforms (Pokerstar, Fanduel, William Hill,
      PlaySugarHouse.com, etc.) that allows online and on-premise funding via credit/debit advance, ACH, ticket and chip
      redemption through the FABICash® Cage platform. FABISport® is tied to a prepaid Mastercard and eWallet that is issued
      upon guest enrollment. This allows for larger individual bets and increases access to funds to place bets, with built in
      compliance tracking and KYC.
    </p>

    <p class="bold italic">
      Call us to find out more about the eWallet and cashless wagering.
    </p>

    <p>
      Partnered with Secure Trading and First Data, years of research and a massive compliance effort has gone into this
      product. We have a strong Legal team who works with state gaming commissions and regulators to satisfy any regulatory
      needs and changes to regulation.
    </p>

    <p>
      This is a powerful product, built on in-house code that is extremely scalable. This allows us to always evolve and
      innovate new cash access technology, therefore, <span class="strong">future-proofing</span> your casino cash access tech, making you more efficient
      and increasing your bottom line.
    </p>

    <img src="@/assets/images/fabisport.jpg" alt="Fabisport" class="full-width">

    <p class="right button-container">
      <router-link to="/contact" class="button large">
        <span class="text">Contact us to get started!</span>
        <img src="@/assets/images/chevron-right.png" alt="Chevron right">
      </router-link>
    </p>
  </div>
</template>
<script>
import { mapMutations } from 'vuex';
export default {
  name: 'FabiSportPage',
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('FabiSport')
  },
}
</script>