<template>
  <div class="content-top atm-and-kiosk">
    <div class="flex-container">
      <div class="col-narrow mobile-first left img-container">
        <img src="@/assets/images/atm.png" alt="ATM">
      </div>

      <div class="col-wide mobile-second">
        <p class="strong larger">
          Diebold CS 5500 ATM
        </p>

        <p>
          <span class="strong larger">ATMs</span> – Powered by Diebold, the global leader in the ATM industry, our machines process ATM, credit/debit card cash
          advance and eCheck transactions along with other revenue generating features. Diebold has the best dispenser and
          software in the industry and is known for their reliable, top of the line, high volume ATMs. Their service network of
          more than 3,000 Diebold employed service technicians makes them invaluable with 24/7 maintenance contracts.
        </p>

        <p>
          FABICash® will provide detailed monthly reports on each ATM on the gaming floor and your daily settlement. Our easy to
          use ATM portal will allow access to real-time ATM transactions. FABICash® is a national distributor for Diebold and
          Nautilus Hyosung and can transact on most ticket redemption kiosks.
        </p>
      </div>
    </div>

    <div class="flex-container">
      <div class="col-wide mobile-second">
        <p class="strong larger">
          Glory SK-500 Kiosk
        </p>

        <p>
          <span class="strong larger">KIOSK</span>  – FABICash® is Glory’s #1 partner, and together our engineers have built a software application that takes the
          traditional TITO and bill break kiosk, and turns it into an ATM. Your casino will have PCI Compliant Kiosks with true
          multifunction ability to process Ticket Redemption, Bill Break, ATM, eCheck, print tickets, payout jackpots, and fund
          eWallets. The Glory SK500 powered by FABI technology is a true multifunction kiosk, increasing the value of your
          equipment investment.
        </p>
      </div>

      <div class="col-narrow mobile-first right img-container">
        <img src="@/assets/images/kiosk.png" alt="Kiosk">
      </div>
    </div>

    <p class="right">
      <router-link to="/contact" class="button large">
        <span class="text">Contact us to get started!</span>
        <img src="@/assets/images/chevron-right.png" alt="Chevron right">
      </router-link>
    </p>
  </div>
</template>
<script>
import { mapMutations } from 'vuex';
export default {
  name: 'FabiAtmKioskPage',
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('ATMS & KIOSK')
  },
}
</script>