<template>
  <div class="content-top fabicash">
    <p>
      FABICash®, our casino cash access gaming platform, was developed with input from cage and finance professionals. Our
      in-house software engineers designed a fully PCI compliant product that is easy to use, customizable, efficient and
      fast. FABICash® has not been down for one second in over four years. We have achieved 100% up-time, making our product
      the most reliable solution on the market.
    </p>

    <p>
      Not only will you see the increase in cash flow on your gaming floor, but your cage personnel will be thrilled to
      process cash advance and cash checks on one set of devices. Our electronic signature capture makes researching
      chargebacks as simple as a click of a button. Reports can be tailored to fit the needs of your finance department. We
      have over 150 casino partners and currently process over 1 billion dollars in credit/debit card cash advance.
    </p>

    <p>
      All transactions are processed by Worldpay and Columbus Data Services, two of the largest credit/debit card processors
      in the country. They provide a safe, secure, PCI compliant environment.
    </p>

    <p>
      <img src="@/assets/images/fabicash.png" alt="Fabicash">
    </p>

    <p class="right button-container">
      <router-link to="/contact" class="button large">
          <span class="text">Contact us to get started!</span>
          <img src="@/assets/images/chevron-right.png" alt="Chevron right">
      </router-link>
    </p>
  </div>
</template>
<script>
import { mapMutations } from 'vuex';
export default {
  name: 'FabiCashPage',
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('FabiCash')
  },
}
</script>
