<template>
  <div class="content-top fabitrack">
    <p>
        With its ease of use, cutting edge technology and Gold Standard support, FABITrack® is the most sought after and
        recommended Title 31 Compliance and AML Data Analytics program in the gaming industry.
    </p>

    <p>
        FABI has developed a Title 31 tracking and reporting application that interfaces with your gaming system and our
        proprietary web-based cage solution and will track all activity processed through the FABICash® system, slots, table
        games and the entire casino.
    </p>

    <p>
        FABICash® offers this tool to our casino partners that manually record these transactions. Our reporting tool creates a
        property wide MTL, CTR, MIL and audit log for all Title 31 activity. The entire casino operation can share the
        transaction database in real time. FABITrack® is a reasonable alternative to most Title 31 programs and will cost you
        thousands less.
    </p>

    <p class="list-header center">
      Call to find out more about our FABITrack Add-On Modules:
    </p>

    <ul class="list-block desktop-columns">
      <li>SAR Form Creator</li>
      <li>Jackpot Payout Processor</li>
      <li>Tax Forms Creator</li>
      <li>AML Data Analytics</li>
    </ul>

    <p class="right">
      <router-link to="/contact" class="button large">
        <span class="text">Contact us to get started!</span>
        <img src="@/assets/images/chevron-right.png" alt="Chevron right">
      </router-link>
    </p>
  </div>
</template>
<script>
import { mapMutations } from 'vuex';
export default {
  name: 'FabiTrackPage',
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('FABITrack')
  },
}
</script>
