<template>
  <div class="content-top mobile">
    <div class="flex-container">
      <div class="col-narrow">
        <img src="@/assets/images/mobile-img.png" alt="Mobile" class="circled-image">
      </div>

      <div class="col-wide">
        <p>
          FABICash® Mobile will enable your cashiers to take convenient cash access to your customers at the games they love by
          using our game changing mobile Cash Advance iPad app. FABICash® Mobile will improve your players’ experience by
          providing easy access to cash where and when the players want it. This mobile cash access solution is customizable to
          integrate with your cash management and security procedures. FABICash® Mobile circulates more money to the gaming floor
          to ensure the fun
          never stops.
        </p>

        <p class="right">
          <router-link to="/contact" class="button large">
            <span class="text">Contact us to get started!</span>
            <img src="@/assets/images/chevron-right.png" alt="Chevron right">
          </router-link>
        </p>
      </div>
    </div>
  </div>
</template>
<script>
import { mapMutations } from 'vuex';
export default {
  name: 'FabiCashMobilePage',
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('FabiCash Mobile')
  },
}
</script>
