<template>
  <div class="content-top giving-back">
    <p>
      At FABICash® we know cash access services. We also know education is very important to the future of our communities—we
      have provided over $1,000,000 in scholarships to Native American students over the past two years. We are excited to
      provide the gift of education to our casino partners. FABICash® will be proud to support the cause that is important to
      your casino.
    </p>

    <p class="very-strong italic">
      Please visit our <router-link to="/news" class="yellow-ish">News</router-link> page to see some of the work we’ve done to give back to our community.
    </p>

    <img src="@/assets/images/giving-back.png" alt="Giving back" class="full-width">
  </div>
</template>
<script>
import { mapMutations } from 'vuex';
export default {
  name: 'GivingBack',
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('Giving Back')
  },
}
</script>
