<template>
	<div>
		<div class="hero-section">
			<h2 class="white-ish uppercase center">JOIN THE WORLD OF <span class="yellow-ish">FABI</span></h2>
			<div class="white-ish italic center subheader">Explore the Possibilities of Superior Cash Flow</div>

			<div class="logos-container">
				<div class="img-container" id="logo2">
					<div class="logo-inner">
						<div class="logo-front">
							<img src="@/assets/images/fabi-cash.png" alt="FabiCash logo" class="logo">
						</div>

						<div class="logo-back">
							<span  style="color:white; font-size:14px; font-family:OpenSans;"> Your casino's cash advance, check cashing , Mobile Jackpot, ATM & kiosk solution.<br />
							<router-link to="/fabicash"><i style="color:#bd9b42">Click to read more</i></router-link></span> 
						</div>
					</div>
				</div>
				<div class="img-container" id="logo1">
					<div class="logo-inner">
						<div class="logo-front">
							<img src="@/assets/images/FabiSport_2019.png" alt="FabiSport logo" class="logo">
						</div>

						<div class="logo-back">
							<span  style="color:white; font-size:14px; font-family:OpenSans;" >  Your casino's online sports betting solution.<br />
							<router-link to="/fabisport"><i style="color:#bd9b42">Click to read more</i></router-link></span> 
						</div>
					</div>
				</div>

				<div class="img-container" id="logo3">
					<div class="logo-inner">
						<div class="logo-front">
							<img src="@/assets/images/fabi-track.png" alt="FabiTrack logo" class="logo">
						</div>

						<div class="logo-back">
							<span  style="color:white;font-size:14px; font-family:OpenSans;">  Your casino's Title 31 compliance & AML data reporting solution.<br />
							<router-link to="/fabitrack"><i style="color:#bd9b42">Click to read more</i></router-link></span> 
						</div>
					</div>
				</div>
			</div>

			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>

			<canvas id="canvas"></canvas>

			<div class="satelite satelite1"></div>
			<div class="satelite satelite2"></div>
		</div>

		<div class="services-section">
			<div class="plates-container">
				<div class="plate">
					<div class="plate-text top">
						<h4>CASH ON YOUR FLOOR</h4>
						<p>Our cloud based solution guarantees 100% up time and more money back to the gaming floor.</p>
					</div>
					<div class="plate-image bottom cash-image">
					</div>
				</div>

				<div class="plate">
					<div class="plate-image top compliance-image">
					</div>
					<div class="plate-text bottom">
						<h4>COMPLIANCE</h4>
						<p>FABITrack goes the extra mile to
						keep your casino federally Title 31 compliant – Voted #1 in the gaming industry.</p>
					</div>
				</div>

				<div class="plate">
					<div class="plate-text top">
						<h4>SPORTS BETTING</h4>
						<p>The world of FABI interfaces real-time with all gaming platforms.</p>
					</div>
					<div class="plate-image bottom football-image">
					</div>
				</div>
			</div>
			<router-link to ="/about" class="tell-more tell-more-services">
				<div class="tell-inner">
					<p>TELL ME MORE</p> 
					<span class="chevron"></span>
				</div>
			</router-link>
		</div>

		<div class="reviews-section">
			<div class="review">
				<h4>FABI CUSTOMERS TELL OUR STORY BEST</h4>
				<p>
					<span class="review-text">
						“First American Bankcard has provided our Casino with excellent service…Questions are answered promptly…Reports are accurate and timely…I would recommend them to anyone!”
					</span>
					<span class="review-author">
						— Gloria Mistek, CFO Kiowa Casino
					</span>
				</p>
			</div>
			
			<router-link to ="/testemonials" class="tell-more tell-more-reviews">
				<div class="tell-inner">
					<p>REVIEWS</p>
					<span class="chevron"></span>
				</div>
			</router-link>
		</div>
	</div>
</template>
<script>
import { mapState, mapMutations } from 'vuex';
export default {
	name: 'Home',
	methods: {
		...mapMutations([
			'setTitle'
		])
	},
	created() {
		this.setTitle('')
	},
}
</script>