<template>
  <div class="content-top management">
    <div class="flex-container manager-item" v-for="(item, index) in mamagerList" :key="index">
      <div class="col-narrow image-container">
        <img :src="`/images/${item.avata_image}`" alt="Manager">
      </div>
      <div class="col-wide">
        <p class="strong">
            {{ item.full_name }}
        </p>
        <p class="smaller italic">
            {{ item.title }}
        </p>
        <p>
            {{ item.history }}
        </p>
        <p>
            {{ item.education }}
        </p>
      </div>
    </div>
  </div>
</template>
<script>
import { mapMutations, mapState } from 'vuex';
export default {
  name: 'ManagementPage',
  computed: {
    ...mapState({
      mamagerList: state => state.manager.data
    })
  },
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('Management')
  },
}
</script>