<template>
  <div class="content-top">
    <div class="flex-container news-item" v-for="(item, index) in newsList" :key="index">
      <div class="col-narrow news-date">
        <p class="month">{{ item.month }}</p>
        <p class="date">{{ item.date }}</p>
      </div>

      <div class="col-narrow news-image">
        <img :src="`images/${item.img}`" alt="News thumbnail" />
      </div>

      <div class="col-wide news-content">
        <p class="strong larger news-header">
          {{ item.title }}
        </p>

        <p class="news-excerpt three-dots-container">
          {{ item.description }}
        </p>
			</div>
		</div>

    <div class="bottom-navigation-container">
      <div class="placeholder"></div>

      <div class="to-top-container">
        <a href="#" class="button scroll-to-top">
          <span class="text">Back to Top</span>
          <img src="@/assets/images/chevron-right.png" alt="Chevron right">
        </a>
      </div>
    </div>
  </div>
</template>
<script>
import { mapMutations, mapState } from 'vuex';
export default {
  name: 'EventsPage',
  computed: {
    ...mapState({
      newsList: state => state.news.data
    })
  },
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('News')
  },
}
</script>
