<template>
  <div class="content-top">
    <p>
      This “Privacy Policy” explains how First American BankCard Inc. (FABICash) (“Company” or “we”) collects, uses, discloses, and otherwise processes personal data on behalf of our customers – typically, merchants (any, a “Merchant”) – in connection with our application, Jackpot Payout App, which runs on the Clover Point of Sale system (“Clover POS”). This Privacy Policy does not apply to Company’s privacy practices in any other context. Company’s processing of personal data in connection with our application is governed by this Privacy Policy and our agreements with Merchants. In the event of any conflict between this Privacy Policy and a customer agreement, the customer agreement will control to the extent permitted by applicable law. This Privacy Policy is not a substitute for any privacy policy that a Merchant may be required to provide to their customers, personnel, or other individuals.
    </p>

    <p class="strong no-margin-bottom">
      Information We Collect:
    </p>
    <p>
      We may collect personal data from or on behalf of Merchants. Merchants determine the scope of the personal data transferred to us or that we collect, and the information we receive may vary by Merchant. Typically, the information we collect on behalf of Merchants includes:
    </p>

    <p class="strong no-margin-bottom">
      <i>Information that Merchants provide to us about thir customers or personnel</i>
    </p>
    <p>
      Merchants may provide us with additional information directly, via access they grant to us, or otherwise. The types of information that merchants may provide to us about their customers include full legal name, email addresses, phone numbers, social security number, address, tax filing information, identification type, identification number, identification state, identification expiration date, date of birth, and customer description information as needed for FinCen/BSA regulation and reporting. The types of information that merchants may provide to us about their personnel include full name, username, passwords/pin for access to app, shift information, and email addresses.
    </p>

    <p class="strong no-margin-bottom">
      How we Use the Information We Collect
    </p>
    <p>
      We use the personal data we collect for or on behalf of Merchants, to provide our services and the functionality of our application: The data is collected for personnel is used for accessing the application by personnel. The data collected for customers is used for tax filing requirements for Jackpot processing within scope of the Merchants regulations and policies.
    </p>
    <br />
    <p>We may also user personal data to related internal purposes, including:</p>
    <ul>
      <li>
        To provide information about the application, such as important updates or changes to the application and security alerts
      </li>

      <li>
        To measure performance of and improve the application
      </li>

      <li>
        To respond to inquiries, complaints, and requests for customer support
      </li>
    </ul>

    <p>
      In addition, Company may use personal data as we believe necessary or appropriate to (a) comply with applicable laws and lawful requests and legal processes, such as to respond to subpoenas or requests from government authorities; (b) enforce the terms and conditions that govern our application; (d) protect our rights, privacy, safety or property, and/or that of you or others; and (e) protect, investigate and deter against fraudulent, harmful, unauthorized, unethical or illegal activity.
    </p>

    <p class="strong no-margin-bottom">
      How We Share Information
    </p>
    <p>
      We may share personal data that we collect with:
    </p>
    <ul>
      <li>
        The Merchant from whom or on whose behalf we collected the personal data
      </li>

      <li>
        The platform on which our application runs, the Clover POS. You may view Clover’s Privacy Notice <a href="https://clover.com/privacy-policy" style="color:#FF0000;"><u>here.</u></a>
      </li>

      <li>
        With third parties as a Merchant may direct
      </li>
      <li>
        With third party service providers that help us manage and improve the application
      </li>
      <li>
        With Company subsidiaries and corporate affiliates for the purposes described in this Privacy Policy or in our agreement with a Merchant
      </li>
    </ul>

    <p>
      Company may disclose personal data to government or law enforcement officials or private parties as required by law, and disclose and use such information as we believe necessary or appropriate to (a) comply with applicable laws and lawful requests and legal processes, such as to respond to subpoenas or requests from government authorities; (b) enforce the terms and conditions that govern our application; (d) protect our rights, privacy, safety or property, and/or that of you or others; and (e) protect, investigate and deter against fraudulent, harmful, unauthorized, unethical or illegal activity.
    </p>

    <p>
      Company may sell or transfer some or all of its business or assets, including your personal data, in connection with a business transaction (or potential business transaction) such as a merger, consolidation, acquisition, reorganization or sale of assets or in the event of bankruptcy, in which case we will make reasonable efforts to require the recipient to honor this Privacy Policy
    </p>

    <p class="strong no-margin-bottom">
      Your Rights and Choices
    </p>
    <p class="strong no-margin-bottom">
      <i> Data Subject Rights</i>
    </p>
    <p>To the extent that applicable law provides individuals with rights pertaining to their personal information, such as to review and request changes to their personal information, individuals should contact the Merchant with any requests pertaining to the Merchant’s use of our application. To the extent that Clover is responsible for responding to data subject rights requests under applicable law, individuals may contact Clover with applicable requests as explained in Clover’s Privacy Notice, <a href="https://www.clover.com/privacy-policy">https://www.clover.com/privacy-policy</a>. Company will assist a Merchant, or Clover, as applicable, in responding to such requests subject to our contract with a Merchant or Clover</p>

    <p class="strong no-margin-bottom">
      <i>Complaints</i>
    </p>
    <p>
      If you have a complaint about our handling of personal data, you may contact us via the contact information provided below.
    </p>
    <p class="strong no-margin-bottom">
      Updates
    </p>
    <p>
      We reserve the right to modify this Privacy Policy at any time. We will notify you of updates by updating the date of this Privacy Policy.
    </p>

    <p class="strong no-margin-bottom">
      Contact Us
    </p>
    <p>
      You may contact us with any questions, comments, or complaints, about this Privacy Policy or our privacy practices via:
    </p>
    <p class="strong">
      Address: 3350 Ridgelake Drive, Suite 114, Metairie, LA 70002 Phone: 504-837-2626 Email: info@fabiatm.com
    </p>
  </div>
</template>
<script>
import { mapMutations } from 'vuex';
export default {
  name: 'PrivacyPolicy',
  methods: {
    ...mapMutations([
      'setTitle',
      'setSubTitle'
    ])
  },
  created() {
    this.setTitle('PRIVACY POLICY FOR JACKPOT PAYOUT APP')
    this.setSubTitle('EFFECTIVE DATE: OCTOBER 18, 2019')
  },
  destroyed() {
    this.setSubTitle('')
  }
}
</script>
