<template>
  <div class="content-top proposal-guarantee">
    <p>
      When your casino sends FABICash® a Request for Proposal, we carefully consider the cash access services and equipment you want in your casino. We listen for any other pertinent information describing your needs.
    </p>

    <p>
      FABICash listens and delivers, and <span class="strong">guarantees</span> that we will exceed your expectations.
    </p>

    <p class="list-header center">
      FABICash sends our Proposal back to your casino, guaranteeing:
    </p>
    
    <ol class="list-block">
      <li>FABICash® <strong>guarantees</strong> industry leading technology in your casino.</li>
      <li>FABICash® <strong>guarantees</strong> competitive rates.</li>
      <li>FABICash® <strong>guarantees</strong> your satisfaction with our customer service plan.</li>
      <li>FABICash® <strong>guarantees</strong> that you will be interested in hearing other incentives, including our creative financing option.</li>
      <li>FABICash® <strong>guarantees</strong> that when you call our extensive reference list, you will get the validation you need, and learn why FABICash® is right for your casino.</li>
    </ol>
    <img src="@/assets/images/proposal-guarantee.jpg" alt="Proposal guarantee" class="full-width">
  </div>
</template>
<script>
import { mapMutations } from 'vuex';
export default {
  name: 'ProposalGuarantee',
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('Proposal Guarantee')
  },
}
</script>
