<template>
  <div class="content-top solutions">
    <p>
      FABICash® grew from an industry need for a cash access platform that is efficient and reliable. We’ve achieved 100%
      up-time and guarantee at least 15% more money back to your casino’s gaming floor. Our software engineers are constantly
      writing code and developing new technology to keep your casino operations ahead of the game.
    </p>

    <p class="strong">
      Please take a moment to look into our product offerings:
    </p>

    <div class="flex-container">
      <div class="col-narrow left">
        <p class="button very-large large blue">
          <img src="@/assets/images/fabicash1.png" alt="Fabicash logo">
        </p>
      </div>
      
      <div class="col-wide">
        <p class="button very-large large gray">Casino Cage Cash Access</p>
      </div>
  
      <div class="col-narrow">
        <router-link to="/fabi-cash" class="button very-large large">
          <span class="text">TELL ME MORE</span>
          <img src="@/assets/images/chevron-right.png" alt="Chevron right">
        </router-link>
      </div>
    </div>

    <div class="flex-container">
      <div class="col-narrow left">
        <p class="button very-large large blue">
          <img src="@/assets/images/fabitrack1.png" alt="Fabitrack logo">
        </p>
      </div>
    
      <div class="col-wide">
        <p class="button very-large large gray">Title 31 AML Compliance Software</p>
      </div>
    
      <div class="col-narrow">
        <router-link to="/fabi-track" class="button very-large large">
          <span class="text">TELL ME MORE</span>
          <img src="@/assets/images/chevron-right.png" alt="Chevron right">
        </router-link>
      </div>
    </div>

    <div class="flex-container">
      <div class="col-narrow left">
        <p class="button very-large large blue">
          <img src="@/assets/images/fabisport1.png" alt="Fabisport logo">
        </p>
      </div>
    
      <div class="col-wide">
        <p class="button very-large large gray">Online Sports Betting Solution</p>
      </div>
    
      <div class="col-narrow">
        <router-link to="/fabi-sport" class="button very-large large">
          <span class="text">TELL ME MORE</span>
          <img src="@/assets/images/chevron-right.png" alt="Chevron right">
        </router-link>
      </div>
    </div>

    <div class="flex-container">
      <div class="col-narrow left">
        <p class="button very-large large blue">FABI ATMs & Kiosk</p>
      </div>
    
      <div class="col-wide">
        <p class="button very-large large gray">Credit/Debit, E-Check, TITO, Bill Break</p>
      </div>
    
      <div class="col-narrow">
        <router-link to="/atm-and-kiosk" class="button very-large large">
          <span class="text">TELL ME MORE</span>
          <img src="@/assets/images/chevron-right.png" alt="Chevron right">
        </router-link>
      </div>
    </div>

    <div class="flex-container">
      <div class="col-narrow left">
        <p class="button very-large large blue">FABICash Mobile</p>
      </div>
    
      <div class="col-wide">
        <p class="button very-large large gray">Gaming Floor Cash Access</p>
      </div>
    
      <div class="col-narrow">
        <router-link to="/mobile" class="button very-large large">
          <span class="text">TELL ME MORE</span>
          <img src="@/assets/images/chevron-right.png" alt="Chevron right">
        </router-link>
      </div>
    </div>

    <p class="right button-container">
      <router-link to="/contact" class="button large">
        <span class="text">Contact us to get started!</span>
        <img src="@/assets/images/chevron-right.png" alt="Chevron right">
      </router-link>
    </p>
  </div>
</template>
<script>
import { mapMutations } from 'vuex';
export default {
  name: 'SolutionsPage',
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('Solutions')
  },
}
</script>
