<template>
  <div class="content-top support">
    <p>
      FABICash® guarantees exceptional customer service and support, providing a quick solution to any problem
      that may arise.
    </p>

    <p>
      We understand your need to provide reliable, high-quality service to your customers. Your casino will have dedicated
      account representatives that back our products with 24/7 nationwide service, support and monitoring to ensure your
      operations are never at risk.
    </p>

    <p>
      FABICash® has both a locally owned and a national U.S. based call center specific to gaming. The national call center is
      available 24/7 and is very well trained on all products and services that FABICash® provides. Local staff is located in
      New Orleans, LA and is trained on all FABICash® equipment and software installed in the cage. This provides a first-line
      resource for quick resolutions.
    </p>

    <img src="@/assets/images/support.jpg" alt="Support" class="full-width">
  </div>
</template>
<script>
import { mapMutations } from 'vuex';
export default {
  name: 'SupportPage',
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('Support')
  },
}
</script>
