<template>
  <div class="content-top center testemonials">
    <p class="larger strong">
      The best way to understand what it means to do business with FABICash is to hear from our customers. FABICash’s dedication to service has generated industry leading customer loyalty, and our customers will tell you so.
    </p>

    <blockquote class="center">
      <p>
        “First American Bankcard has provided our Casino with excellent service during the last five (5) years. Questions are answered promptly. Equipment service issues and down time happen so rarely, you don’t even notice them. Reports are accurate and timely. I would recommend them to anyone!”
      </p>

      <p class="thin author">- Gloria Mistek, Chief Financial Officer | Kiowa Casino</p>
    </blockquote>

    <blockquote class="center">
      <p>
        “The best thing about working with FABI is their commitment to their customers and quality of product. The most reassuring thing about working with FABI is their goals; as a result, I know I am connected to a company that keeps moving forward. FABITrack complements FABICash in a way that is unmatched to any manual processes; as a result, it puts ease to any Title 31 program.”
      </p>

      <p class="thin author">- Annie Bowers, Customer Service Manager (formerly) | Triple Crown Casinos</p>
    </blockquote>

    <blockquote class="center">
      <p>
        “FABITrack has been such an incredible asset to our AML /BSA Program. Prior to FABITrack all transactions were tracked manually on our logs, which was incredibly time consuming. Now we are able to spend more time on potential suspicious activity trends instead of spending half the day aggregating all the transactions. FABITrack has great customer support and is always willing to listen to any feedback we have. We are fortunate we waited for such a great product. FABITrack is simple and completely user friendly.”
      </p>

      <p class="thin author">- Teresa Martinez, Compliance Director │ Casino Pauma</p>
    </blockquote>

    <blockquote class="center">
      <p class="strong">
        Top 5 reasons FABITrack is preferred to Casino IT Solutions:
      </p>

      <p class="no-margin-bottom">
        “1. Better training provided
      </p>

      <p class="no-margin-bottom">
        2. Better customer service responses
      </p>

      <p class="no-margin-bottom">
        3. Better user interfaces; more intuitive
      </p>

      <p class="no-margin-bottom">
        4. Better report generation features
      </p>

      <p>
        5. Better patron data verification results presentation”
      </p>

      <p class="strong">
        What is it about our product that blows the other away?
      </p>

      <p>
        “Ease of use. FABITrack’s user interfaces allow a new user to start productive work quickly, and allows advanced users to access data in multiple formats. It takes minimal time to enter data using well thought-out graphical interfaces that do not slow game production or cage lines.”
      </p>

      <p class="strong">
        How have your business practices improved since you began using FABITrack?
      </p>

      <p>
        “Due to the ease of FABITrack use, MTL entries and agent information logging have increased, making our compliance data more inclusive. Further, the patron data verification information presentation is quickly understandable for immediate action to be taken. Since our users are now not afraid of the MTL program, they use it more frequently.”
      </p>

      <p class="thin author">- Byron Gregory, Director of Compliance, Certified Anti-Money Laundering Specialist (CAMS), Certified Fraud Examiner (CFE) │ Casino M8trix</p>
    </blockquote>

    <blockquote class="center">
      <p>
        “I’ve been utilizing FABITrack for a number of years, and I find the interface intuitive and easy to use. The process is fast and accurate with easy to understand results. The customer support has been outstanding and responsive. I would not hesitate to recommend FABITrack to anyone!”
      </p>

      <p class="thin author">- Robert Seals, Revenue Auditing Supervisor │ Triple Crown Casinos</p>
    </blockquote>
  </div>
</template>
<script>
import { mapMutations } from 'vuex';
export default {
  name: 'Testemonials',
  methods: {
    ...mapMutations([
      'setTitle'
    ])
  },
  created() {
    this.setTitle('Testemonials')
  },
}
</script>
