<template>
  <footer>
    <div class="footer-top">
      <div class="top-col">
        <h4>GIVING BACK</h4>
        <p>It is our pleasure to give back to the communities behind our success. <router-link to="/giving-back">Learn More.</router-link></p>
      </div>
      <div class="top-col">
        <h4>NEWS</h4>
        <p>&gt;<router-link to="/news" style="font-style: normal;"> FABICash donates $20,000 to StandUp for Kids – Silicon Valley</router-link></p>
        <p>&gt;<router-link to="/news" style="font-style: normal;"> FABICash donates $5,000 to Native American Education</router-link></p>
        <p>&gt;<router-link to="/news" style="font-style: normal;"> FABICash donates $5,000 to Native American Education</router-link></p>
      </div>
      <div class="top-col">
        <h4>CONTACT US</h4>
        <p>3350 Ridgelake Drive, Suite 114 Metairie, Louisiana 70002</p>
        <p>
          <strong>PHONE:</strong> <a href="tel:504.837.2626" class="normal-font">504.837.2626</a> <br>
          <strong>FAX:</strong> <a href="tel:504.837.2610" class="normal-font">504.837.2610</a> <br>
          <strong>EMAIL:</strong> <a href="mailto:web@fabiatm.com" class="normal-font">web@fabiatm.com</a>
        </p>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="center">
          First American Bankcard, Inc. is a Registered Agent of Citizens Bank, N.A., Providence RI. | All Rights Reserved ®2019
      </p>
    </div>
  </footer>
</template>
<script>
export default {
  
}
</script>