<template>
	<div class="mobile-nav" :class="title ? '':'home-page'">
		<div class="page-header" v-if="title">
			<img src="@/assets/images/header-logo.png" alt="Fabi logo">
			<h2 class="yellow-ish uppercase">{{ title }}</h2>
			<span v-if="subTitle" class="yellow-ish uppercase really-small">{{ subTitle }}</span>
		</div>
		
		<div class="nav-trigger">
			<div class="trigger-line"></div>
			<div class="trigger-line"></div>
			<div class="trigger-line"></div>
		</div>
	</div>
</template>
<script>
import { mapState } from 'vuex'
export default {
	name: "HeaderBar",
	computed: {
    ...mapState({
			title: state => state.general.title,
			subTitle: state => state.general.sub_title
		}),
	}
}
</script>