<template>
	<div class="navbar">
		<div class="logo-container">
			<router-link to="/" :class="currentRouteName === 'home-page' ? 'active' : ''">
				<img src="@/assets/images/navbar-logo.png" alt="FABI logo">
			</router-link>
		</div>
		<nav class="navigation-container">
			<ul class="main-nav">
				<li class="has-submenu">
					<router-link to="/company" :class="currentRouteName === 'company-page' ? 'active' : ''">
						<span class="parent-nav">Company</span>
					</router-link>
					<vue-slide-up-down :active="isActiveComany" :duration="1000">
						<ul class="submenu">
							<li>
								<router-link to="/about" :class="currentRouteName === 'about-page' ? 'active': ''">About</router-link>
								<router-link to="/management" :class="currentRouteName === 'management-page' ? 'active' : ''">Management</router-link>
								<router-link to="/events" :class="currentRouteName === 'events-page' ? 'active' : ''">Events</router-link>
								<router-link to="/news" :class="currentRouteName === 'news-page' ? 'active': ''">News</router-link>
								<router-link to="/proposal-guarantee" :class="currentRouteName === 'proposal-guarantee' ? 'active' : ''">Proposal Guarantee</router-link>
								<router-link to="/testemonials" :class="currentRouteName === 'testemonials' ? 'active' : ''">Testimonials</router-link>
								<router-link to="/privacy-policy" :class="currentRouteName === 'privacy-policy' ? 'active' : ''">Privacy Polilcy</router-link>
								<router-link to="/end-user-agreement" :class="currentRouteName === 'end-user-agreement' ? 'active' : ''">End User Agreement</router-link>
							</li>
						</ul>
					</vue-slide-up-down>
				</li>
				<li class="has-submenu">
					<router-link to="/solutions" :class="currentRouteName === 'solutions' ? 'active' : ''">
						<span class="parent-nav">Solutions</span>
					</router-link>
					<vue-slide-up-down :active="isActiveSolutions" :duration="1000">
						<ul class="submenu" v-if="isActiveSolutions">
							<li>
								<router-link to="/fabi-cash" :class="currentRouteName === 'fabi-cash' ? 'active' : ''">FABICash</router-link>
								<router-link to="/fabi-track" :class="currentRouteName === 'fabi-track' ? 'active' : ''">FABITrack</router-link>
								<router-link to="/fabi-sport" :class="currentRouteName === 'fabi-sport' ? 'active' : ''">FABISport</router-link>
								<router-link to="/atm-and-kiosk" :class="currentRouteName === 'atm-and-kiosk' ? 'active' : ''">FABI ATMs & Kiosk</router-link>
								<router-link to="/mobile" :class="currentRouteName === 'mobile' ? 'active' : ''">FABICash Mobile</router-link>
							</li>
						</ul>
					</vue-slide-up-down>
				</li>
				<li>
					<router-link to="/support" :class="currentRouteName === 'support' ? 'active' : ''">Support</router-link>
				</li>
				<li>
					<router-link to="/giving-back" :class="currentRouteName === 'giving-back' ? 'active' : ''">Giving Back</router-link>
				</li>
				<li>
					<router-link to="/contact" :class="currentRouteName === 'contact' ? 'active':''">Contact</router-link>
				</li>
			</ul>
		</nav>

		<div class="navbar-footer">
			<div class="icons-container">
				<a href="https://www.facebook.com/fabiatm/" class="icon facebook"></a>
				<a href="mailto:web@fabiatm.com" class="icon email"></a>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	name: 'SideBar',
	data() {
		return {

		}
	},
	computed: {
		currentRouteName() {
        return this.$route.name;
		},
		isActiveComany() {
			if (this.$route.name === 'company-page' ||
					this.$route.name === 'about-page' ||
					this.$route.name === 'management-page' ||
					this.$route.name === 'events-page' ||
					this.$route.name === 'news-page' ||
					this.$route.name === 'proposal-guarantee' ||
					this.$route.name === 'testemonials' ||
					this.$route.name === 'privacy-policy' ||
					this.$route.name === 'end-user-agreement'
			) {
						return true
			} else {
				return false
			}
		},
		isActiveSolutions() {
			if ( this.$route.name === 'solutions' || 
					this.$route.name === 'fabi-cash' || 
					this.$route.name === 'fabi-track' ||
					this.$route.name === 'fabi-sport' ||
					this.$route.name === 'atm-and-kiosk' ||
					this.$route.name === 'mobile'
			) {
				return true
			} else {
				return false
			}
		}
	},
}
</script>