// MAIN CONTENT
.content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    position: relative;

    .main-content {
        position: absolute;
        left: 249px;
        right: 0;
        top: 0;
        min-height: 250px;
        z-index: 1;

        @media (max-width: 991px) {
            left: 0;
            top: 65px;
        }
    }
}