// FOOTER
footer {
    background-color: #151515;
    padding: 55px 45px 45px 45px;

    h4 {
        color: #5e5e5e;
        font-family: Ubuntu;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2.4px;
        line-height: 24px;
        margin: 0;
    }

    p {
        color: #bd9b42;
        font-family: "Open Sans";
        font-weight: 400;
        letter-spacing: 1.2px;
        line-height: 18px;
        font-size: 12px;
        margin: 0;
        margin-bottom: 20px;

        &.center {
            color: #5e5e5e;
        }
    }

    a {
        font-weight: 600;
        font-style: italic;
        color: #bd9b42;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &.normal-font {
            font-weight: 400;
            font-style: normal;
        }
    }

    .footer-top {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;

        @media (max-width: 750px) {
            flex-direction: column;
        }

        .top-col {
            width: 25%;

            @media (max-width: 850px) {
                width: 30%;
            }

            @media (max-width: 750px) {
                width: 100%;
            }
        }
    }

    .footer-bottom {
        padding-top: 20px;
    }
}