// HERO SECTION
.hero-section {
    background: url(../images/top-bg-large.jpg) no-repeat right top scroll;
    background-size: cover;
    padding-top: 160px;
    position: relative;
    overflow-x: hidden;

    @media (max-width: 1650px) {
        padding-top: 140px;
    }

    @media (max-width: 1450px) {
        padding-top: 100px;
    }

    @media (max-width: 1250px) {
        padding-top: 80px;
    }

    @media (max-width: 850px) {
        padding-top: 50px;
        padding-left: 16px;
        padding-right: 16px;
    }

    @media (max-width: 550px) {
        padding-top: 25%;
    }

    h2 {
        font-size: 40px;
        line-height: 16px;
        letter-spacing: 8px;
        line-height: 1em;
        margin-top: 0;
        margin-bottom: 10px;

        @media (max-width: 1650px) {
            font-size: 35px;
        }

        @media (max-width: 1250px) {
            font-size: 25px;
        }

        @media (max-width: 650px) {
            font-size: 30px;
            letter-spacing: 5px;
        }

        @media (max-width: 550px) {
            line-height: 1.2em;
        }

        @media (max-width: 330px) {
            font-size: 25px;
        }
    }

    .subheader {
        font-size: 16px;
        letter-spacing: 2.4px;

        @media (max-width: 650px) {
            font-size: 16px;
            letter-spacing: 1.6px;
        }

        @media (max-width: 550px) {
            line-height: 1.2em;
        }
    }

    .logos-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 45%;
        right: 12%;
        left: 12%;
        z-index: 10;

        @media (max-width: 850px) {
            bottom: 40%;
            right: 5%;
            left: 5%;
        }

        @media (max-width: 650px) {
            bottom: 25%;
        }

        @media (max-width: 550px) {
            display: none;
        }

        .img-container {
            max-width: 30%;
            perspective: 1000px;
            //border: 1px solid #010101;
            width: 290px;
            height: 100px;

            .logo-inner {
                width: 100%;
                height: 100%;
                position: relative;
                text-align: center;
                transition: transform 0.8s;
                transform-style: preserve-3d;
                background-color: rgba(0,12,31,.75);
                // backface-visibility: hidden;
                // transform: rotateY(180deg);
            }

            .logo-front {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 16px 30px;
            }

            .logo-back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                background-color: rgba(0,12,31,.75);
                transform: rotateY(180deg);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 16px 30px;

                a {
                    color: #fff;
                    font-weight: 700;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &:hover {

                .logo-inner {
                    transform: rotateY(180deg);
                }
            }

            @media (max-width: 750px) {
                padding: 10px 16px;
            }

            img {
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .line {
        background-color: #bd9b42;
        opacity: 0.75;
        position: absolute;
        transform-origin: 0% 0%;
        height: 1px;
        z-index: 1;

        @media (max-width: 650px) {
            display: none;
        }
    }

    #canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        // width: 100%;
        // height: 100%;
    }

    .satelite {
        width: 42px;
        height: 32px;
        background: url(../images/satelite.png) no-repeat center center;
        background-size: 41px auto;
        position: absolute;
    }
}