// NAVBAR
.navbar {
	width: 250px !important;
	// height: 100%;
	min-height: 100vh;
	box-shadow: 0 -4px 42px 2px rgba(0, 0, 0, 0.75);
	background-color: #0c0c0c;
	// position: absolute;
	position: fixed !important;
	top: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	z-index: 999;
	transition: all .5s ease-in-out;
	
	@media (max-width: 991px) {
			left: -250px;
			box-shadow: 0 -4px 42px 2px rgba(0, 0, 0, 0.0);

			&.active {
					left: 0;
					box-shadow: 0 -4px 42px 2px rgba(0, 0, 0, 0.75);
			}
	}

	.logo-container {
			height: 120px;
			background-color: #031324;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;

			&:after {
					content: "";
					width: 16px;
					height: 16px;
					border: 1px solid #bd9b42;
					background-color: #031324;
					position: absolute;
					left: 30px;
					bottom: -9px;
					transform: rotate(45deg);
					border-top: none;
					border-left: none;
			}
	}

	.navigation-container {
			padding: 35px 0;

			@media (max-width: 991px) {
					overflow-y: auto;
			}

			ul {
					list-style: none;
					padding: 0;
					margin: 0;

					li {
							list-style: none;
							padding: 0 40px;
							margin: 0;

							a {
									color: #646464;
									font-family: Ubuntu;
									font-size: 16px;
									font-weight: 500;
									line-height: 16px;
									letter-spacing: 1.6px;
									text-decoration: none;
									padding: 20px 0;
									display: block;
									transition: all .5s ease-in-out;

									&:hover,
									&.current,
									&.router-link-active {
											color: #fff;
									}
							}

							&.has-submenu {
									
									&>a {
											position: relative;

											&:after {
													content: "";
													position: absolute;
													right: 0;
													top: 16px;
													width: 14px;
													height: 25px;
													background: url(../images/right-arrow.svg) no-repeat center center;
													background-size: 14px auto;
													display: inline-block;
													transition: all .5s ease-in-out;
											}
									}

									&.active {
											background-color: #151515;

											&>a {
													// color: #fff;
													
													&:after {
															transform: rotate(90deg);
													}
											}
									}

									ul {

											li {

													a {
															font-size: 14px;
															padding: 10px;
															padding-left: 16px;
															padding-right: 0;
													}
											}
									}
							}
					}

					&.submenu {
							padding-bottom: 20px;

							li {
								 padding: 0; 
								 margin-right: -10px;
							}
					}
			}
	}

	.navbar-footer {
			// position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			padding-top: 55px;
			padding-bottom: 55px;

			.icons-container {
					display: flex;
					justify-content: center;
					align-items: flex-start;

					.icon {
							width: 35px;
							height: 35px;
							background-color: #5E5E5E;
							background-image: url(../images/facebook-icon.svg);
							background-repeat: no-repeat;
							background-size: auto 25px;
							background-position: center center;
							border-radius: 50%;
							text-decoration: none !important;
							margin-right: 10px;
							margin-left: 10px;

							&.first-of-type {
									margin-left: 0;
							}

							&.last-of-type {
									margin-right: 0;
							}

							&.facebook {
									background-image: url(../images/facebook-icon.svg);
							}

							&.email {
									background-image: url(../images/at.svg);
							}
					}
			}
	}
}

.mobile-nav {
	box-shadow: 0 -4px 42px 2px rgba(0, 0, 0, 0.75);
	background-color: #031324;
	height: 65px;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 5px 16px;
	
	&.home-page{
		z-index: 0;
	}


	@media (max-width: 991px) {
			display: flex;
			z-index: 998;
			&.home-page {
				z-index: 998;
				justify-content: flex-end;
			}
	}

	.nav-trigger {
			width: 55px;
			height: 55px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: stretch;
			padding: 14px 10px;
			background: #0c0c0c;
			border-radius: 5px;
			flex-shrink: 0;

			.trigger-line {
					width: 100%;
					height: 4px;
					background: #fff;
					border-radius: 1px;
					opacity: 1;
					transition: all .5s ease-in-out;
			}

			&.active {

					.trigger-line {
							
							&:first-of-type {
									transform: translate(0, 12px) rotate(-45deg);
							}

							&:nth-of-type(2) {
									opacity: 0;
							}

							&:last-of-type {
									transform: translate(0, -11px) rotate(45deg);
							}
					}
			}
	}

}

.sheet {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	z-index: 1000;
	display: none;
	opacity: 0;
	z-index: 990;

	&.active {
			animation: show-sheet .5s ease-in-out forwards;
			display: block;
	}

	&.inactive {
			animation: hide-sheet .5s ease-in-out forwards;
			display: block;
	}
}