// REVIEWS SECTION
.reviews-section {
    
    .review {
        background-color: #bd9b42;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 10px 120px;

        @media (max-width: 850px) {
            padding: 25px 50px;
        }

        h4 {
            color: #031324;
            font-family: Ubuntu;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 1.6px;
            margin: 0;
            margin-bottom: 5px;
        }

        p {
            font-family: "Open Sans";
            font-size: 12.5px;
            line-height: 18px;
            margin: 0;
            max-width: 840px;
            font-style: italic;

            .review-author {
                letter-spacing: 1.2px;
            }            
        }
    }
    
    .tell-more {
        min-height: 130px;
        background-color: #acabb3;

        .tell-inner {
            
            p {
                color: #031324;
            }

            .chevron {
                background-image: url(../images/down-arrow-grey.svg);
            }
        }

        &:hover {
            background-color: #bdbdc2;
        }
    }
}