// SERVICES SECTION
.services-section,
.reviews-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    @media (max-width: 650px) {
        flex-direction: column;
    }

    .plates-container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        @media (max-width: 1250px) {
            flex-direction: column;
        }

        .plate {
            width: 33.333333333333333%;

            @media (max-width: 1250px) {
                width: 100%;
                display: flex;
                align-items: stretch;
                flex-wrap: nowrap;
            }

            @media (max-width: 650px) {
                flex-direction: column;
            }

            .plate-text {
                // box-shadow: 0 -5px 93px 5px #000000;
                background-color: #acabb3;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: left;
                padding: 35px 50px;
                flex-direction: column;
                height: 50%;

                @media (max-width: 1250px) {
                    height: 100%;
                    width: 50%;
                }

                @media (max-width: 650px) {
                    height: 50%;
                    width: 100%;
                    order: 1;
                    min-height: 160px;
                }

                h4 {
                    color: #031324;
                    font-family: Ubuntu;
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 2.4px;
                    line-height: 24px;
                    text-align: left;
                    margin: 0;
                    width: 100%;
                }

                p {
                    color: #ffffff;
                    font-family: "Open Sans";
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: 1.2px;
                    line-height: 18px;
                    margin: 0;
                }
            }

            .plate-image {
                background: url(../images/img1.jpg) no-repeat center center scroll;
                background-size: cover;
                width: 100%;
                height: 50%;

                @media (max-width: 1250px) {
                    width: 50%;
                    height: auto;
                    min-height: 100%;
                }

                @media (max-width: 650px) {
                    width: 100%;
                    height: 50%;
                    min-height: 160px;
                    order: 2;
                }

                &.cash-image {
                    background-image: url(../images/img2.jpg);
                }

                &.compliance-image {
                    background-image: url(../images/img1.jpg);
                }

                &.football-image {
                    background-image: url(../images/img3.jpg);
                }
            }
        }
    }

    .tell-more {
        width: 140px;
        min-height: 340px;
        background-color: #031324;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none !important;
        transition: all .5s ease-in-out;
        flex-shrink: 0;

        @media (max-width: 650px) {
            width: 100%;
            min-height: 160px;
        }

        .tell-inner {
            transform: rotate(-90deg);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @media (max-width: 650px) {
                transform: none;
            }

            p {
                color: #bd9b42;
                font-family: Ubuntu;
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;
                text-transform: uppercase;
                letter-spacing: 1.6px;
            }

            .chevron {
                display: inline-block;
                width: 35px;
                height: 20px;
                background: url(../images/down-arrow.svg) no-repeat center center scroll;
                background-size: 35px auto;
                position: relative;
                bottom: 0;
                transition: all .5s ease-in-out;
            }
        }

        &:hover {
            background-color: #041930;
            .tell-inner {

                .chevron {
                    bottom: -10px;
                }
            }
        }
    }
}