<template>
  <div id="app" class="content-wrapper">
    <header-bar></header-bar>
    <side-bar></side-bar>
    <div class="main-content" :class="currentRouteName">
      <router-view></router-view>
      <footer-bar></footer-bar>
    </div>
  </div>
</template>
<script>
import SideBar from './components/SideBar.vue'
import HeaderBar from './components/HeaderBar.vue'
import FooterBar from './components/FooterBar.vue'
export default {
  components: {
    SideBar,
    HeaderBar,
    FooterBar
  },
  computed: {
		currentRouteName() {
        return this.$route.name;
    }
  },
  watch: {
    '$route' (to) { 
      if (to.name == 'home-page') {
        window.location.reload()
      }
      if ($("body").has('mobile-menu-active')) {
        $('.navbar, .sheet, .nav-trigger').removeClass('active');
      }
    }
  },
  // created: async function () {
  //   jQuery(document).ready(function () {
  //     jQuery('.navbar').slimScroll({
  //       color: '#CCC',
  //       alwaysVisible: true,
  //       height: 'calc(100vh - 0px)',
  //     })
  //   })
  // }
}
</script>
