// .slide-enter-active {
//   -moz-transition-duration: 1s;
//   -webkit-transition-duration: 1s;
//   -o-transition-duration: 1s;
//   transition-duration: 1s;
//   -moz-transition-timing-function: ease-in;
//   -webkit-transition-timing-function: ease-in;
//   -o-transition-timing-function: ease-in;
//   transition-timing-function: ease-in;
// }
// .slide-leave-active {
//   -moz-transition-duration: 1s;
//   -webkit-transition-duration: 1s;
//   -o-transition-duration: 1s;
//   transition-duration: 1s;
//   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
//   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
//   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
//   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
// }
.navbar { 
  &::-webkit-scrollbar { 
    width: 0 !important 
  }
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.invalid-feedback {
  font-size: 80%;
  color: #dc3545;
  margin-left: 105px;
}
input {
  &.is-invalid{
    border-color: #dc3545;
  }
}
