// ARTICLE
body.inner-page.article {
    
    .main-content {
        
        .content-top {
            padding-bottom: 85px;

            .button-container {
                margin-top: 45px;
            }
        }
    }
}