// ATM AND KIOSK
.main-content {
	.content-top.atm-and-kiosk {
		padding-bottom: 85px;

		.flex-container {
			position: relative;
			margin-bottom: 55px;

			@media (max-width: 1250px) {
				padding-bottom: 25px;
				align-items: flex-end;
			}

			&:after {
				content: "";
				position: absolute;
				bottom: 16px;
				right: 0;
				left: 0;
				height: 3px;
				background-color: #031324;
				z-index: 1;
			}

			&:last-of-type {
					
				&:after {
					bottom: 35px;
				}
			}

			.img-container {
				@media (max-width: 767px) {
					text-align: center;
				}

				img {
					@media (max-width: 1250px) {
						position: relative;
						bottom: -25px;
					}

					@media (max-width: 767px) {
						position: static;
					}
				}
			}

			.left {
				&.img-container {
					margin-right: 38px;
					z-index: 2;

					@media (max-width: 767px) {
						margin-right: 0;
						margin-bottom: 35px;
					}

					img {
						min-width: 172px;
					}
				}
			}

			.right {

				&.img-container {
					margin-left: 38px;
					z-index: 2;

					@media (max-width: 767px) {
						margin-right: 0;
						margin-bottom: 35px;
					}

					img {
						min-width: 211px;
					}
				}
			}
		}
	}
}
