// COMPANY
.main-content {
	.content-top.company {
		padding-bottom: 85px;

		.flex-container {
			&.row {
				margin-bottom: 4px;

				@media (max-width: 1250px) {
					flex-direction: column;
				}
			}

			.col-50 {

				&:first-of-type {
					margin-right: 2px;

					@media (max-width: 1250px) {
						margin-bottom: 4px;
					}

					// @media (max-width: 767px) {
					//     margin-bottom: 8px;
					// }
				}

				&:last-of-type {
					margin-left: 2px;
				}

				@media (max-width: 1250px) {
					width: 100%;
					margin-right: 0 !important;
					margin-left: 0 !important;
				}
			}

			.col-wide {
				margin-right: 4px;

				@media (max-width: 767px) {
					margin-right: 0;
					margin-bottom: 4px;
				}
			}

			.col-narrow {
					
				.button {
					font-size: 14px;
					text-transform: uppercase;
					letter-spacing: 1px;
					min-width: 175px;
					padding-left: 20px;
					padding-right: 20px;

					.text {
						font-style: normal;
						font-weight: 700;
					}

					img {
						margin-left: 9px;
					}
				}
			}

			.button {
				margin: 0 !important;
			}
		}
		.images-container {
			margin-top: 45px;

			.flex-container {
				align-items: stretch;
				margin-left: -7px;
				margin-right: -7px;

				@media (max-width: 767px) {
					margin-left: 0;
					margin-right: 0;
				}

				.col-33 {
					margin-right: 7px;
					margin-left: 7px;

					@media (max-width: 767px) {
						margin-left: 0;
						margin-right: 0;
						margin-bottom: 14px;
					}
				}

				.flex-vertical {
						//max-height: 252.22px;
					img {

						&:first-of-type {
								margin-bottom: 14px;
						}
					}
				}
			}
		}
	}
}
