// EVENTS
.main-content {
	.content-top.events {
		padding-bottom: 85px;
		.event-item {
			padding: 35px 0;
			border-top: 1px solid #8b8b8b;

			&:last-of-type,
			&.border-bottom {
					border-bottom: 1px solid #8b8b8b;
			}

			.col-narrow {
				width: 210px;
				background-color: #bcbbc4;
				padding: 20px;
				margin-right: 25px;

				img {
					width: 185px;
				}

				.month {
					color: #031324;
					font-family: Ubuntu;
					font-size: 30px;
					font-weight: 700;
					line-height: 1em;
					text-transform: uppercase;
					letter-spacing: 3px;
					position: relative;
					margin-bottom: 25px;

					&:after {
						content: "";
						width: 16px;
						height: 1px;
						background: #7a7a7a;
						// border: 1px solid #010101;
						// background-color: #acabb3;
						position: absolute;
						bottom: -12px;
						left: 0;
					}
				}

				.date {
					color: #bd9b42;
					font-family: Ubuntu;
					font-size: 20px;
					font-weight: 700;
					font-style: italic;
					line-height: 1em;
					letter-spacing: 1px;
					margin: 0;
				}
			}

			.col-wide {
				padding-top: 20px;

				.strong {
					margin: 0;
					font-size: 18px;
				}

				.italic {
					font-weight: 600;
					margin: 0;
				}

				.thin {
						font-size: 14px;
				}
			}
		}
	}
}
