// FABICASH
    
.main-content {
	.content-top {
		&.fabicash {
			padding-bottom: 25px;

			.button-container {
				height: 0;
				overflow: visible;
				position: relative;
				top: -135px;

				@media (max-width: 1150px) {
						position: static;
						height: auto;
				}
			}
		}
	}
}
