// INNER PAGE GENERAL
body {
	background-color: #acabb3;

	.main-content {
		padding-top: 120px;

		&.home-page {
			padding-top: 0px;
		}

		@media (max-width: 991px) {
			padding-top: 0;
		}

		.content-top {
			padding: 45px;
			background-color: #acabb3;
			overflow-x: hidden;

			@media (max-width: 550px) {
				padding-left: 16px;
				padding-right: 16px;
			}

			p,
			ul li {
				color: #1e1e1e;
				font-size: 16px;
				line-height: 1.6875em;
				letter-spacing: 1.6px;
				margin-top: 0;
			}

			p {
				margin-bottom: 35px;

				&.larger,
				.larger {
					font-size: 20px !important;
				}

				// &:last-of-type {
				//     margin-bottom: 0;
				// }
			}

			ul {
				margin: 0;
				padding: 0;
				margin-bottom: 35px;
				padding-left: 19px;
				list-style: disc;
			}

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.mobile-nav {
		display: flex;
		height: 120px;
		z-index: 998;
		position: absolute;
		justify-content: space-between;
		padding-left: 295px;

		@media (max-width: 991px) {
			padding-left: 25px;
		}

		.page-header {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			img {
				margin-right: 12px;
			}

			h2 {
				font-size: 36px;
				letter-spacing: 7.2px;
				line-height: 1em;

				@media (max-width: 767px) {
					font-size: 25px;
				}

				@media (max-width: 575px) {
					font-size: 20px;
				}

				@media (max-width: 355px) {
					display: none;
				}
			}
		}

		@media (min-width: 992px) {
			box-shadow: none;
		}

		@media (max-width: 991px) {
			height: 65px;
			position: fixed;
		}

		.nav-trigger {
			display: none;

			@media (max-width: 991px) {
				display: flex;
			}
		}
	}
}
