.main-content {
	.content-top.management {
		padding-bottom: 85px;

		.manager-item {
			padding: 35px 0;
			border-top: 1px solid #8b8b8b;

			&:last-of-type,
			&.border-bottom {
				border-bottom: 1px solid #8b8b8b;
			}
			.col-narrow {
				width: 185px;
				background-color: transparent;
				padding: 0;
				margin-right: 32px;

				@media (max-width: 767px) {
					margin-right: 0;
					margin-bottom: 25px;
				}

				img {
					width: 185px;
				}
			}

			.col-wide {
				padding-top: 0;

				p {
					margin-bottom: 25px;

					&:last-of-type {
						margin-bottom: 0;
					}
				}
				
				.strong {
					margin: 0;
					font-size: 18px;
				}

				.italic {
					font-weight: 600;
					margin-bottom: 25px;
				}

				.thin {
					font-size: 14px;
				}
			}
		}
	}
}
