// MOBILE
.main-content {
	.content-top.mobile {
		padding-bottom: 85px;

		.flex-container {

			.col-narrow {
				margin-right: 33px;
				text-align: center;

				@media (max-width: 767px) {
					margin-right: 0;
					margin-bottom: 30px;
				}

				img {
					min-width: 196px;
				}
			}
		}
	}
}
