// NEWS
.main-content {
	.content-top {
		.news-item {
			align-items: stretch;
			padding: 35px 20px;
			border-top: 1px solid #656565;

			@media (max-width: 1250px) {
				flex-wrap: wrap;

				.col-narrow {
						width: 48%;
				}
			}

			@media (max-width: 767px) {
				flex-wrap: nowrap;

				.col-narrow {
					width: 100%;
					margin-right: 0 !important;
					text-align: center;
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}

			&:last-of-type {
					border-bottom: 1px solid #656565;
			}
				
			.news-date {
				min-width: 114px;

				.month {
					color: #031324;
					font-family: Ubuntu;
					font-size: 30px;
					font-weight: 700;
					line-height: 1em;
					text-transform: uppercase;
					letter-spacing: 3px;
					margin-bottom: 25px;
					position: relative;

					&:after {
						content: "";
						width: 16px;
						height: 1px;
						position: absolute;
						bottom: -12px;
						left: 0;
						background-color: #656565;
						opacity: 0.5;
						display: inline-block;
					}
				}

				.date {
					color: #656565;
					font-family: Ubuntu;
					font-size: 20px;
					font-weight: 700;
					font-style: italic;
					line-height: 1em;
					letter-spacing: 1px;
				}
			}

			.news-image {
				margin-right: 20px;

				img {
					min-width: 375px;
					max-width: 375px;

					@media (max-width: 767px) {
							min-width: 250px;
							max-width: 100%;
					}
				}
			}

			.news-content {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: stretch;

				.news-header {
					@media (max-width: 1250px) {
							margin-top: 35px;
					}
				}

				.three-dots-container {
					max-height: 50%;

					@media (max-width: 1750px) {
						max-height: 35%;
					}

					@media (max-width: 1550px) {
						max-height: 30%;
					}
					
					@media (max-width: 1250px) {
						max-height: 100%;
					}
				}

				.button-container {
						margin-top: auto;
						margin-bottom: 0;
				}
			}
		}
	}
}
