// PROPOSAL GUARANTEE
.main-content {
	.content-top.proposal-guarantee {
		padding-bottom: 85px;

		.list-block {

			li {
				min-height: 74px;
				max-height: 74px;
				// display: flex;
				// align-items: flex-start;
				// flex-wrap: nowrap;
				padding-top: 16px;
				padding-bottom: 16px;

				@media (max-width: 1250px) {
					max-height: 250px;
				}
			}
		}
	}
}
