// SOLUTIONS
   
.main-content {
	.content-top {
		&.solutions {
			padding-bottom: 85px;

			.flex-container {
				margin-bottom: 4px;

				&.row {
					margin-bottom: 4px;

					@media (max-width: 1250px) {
							flex-direction: column;
					}
				}

				.col-wide {
					margin-right: 4px;

					@media (max-width: 767px) {
						margin-right: 0;
						margin-bottom: 4px;
					}

					.gray {
						font-size: 18px;
						font-weight: 600;
						letter-spacing: 1.11px;
						font-style: normal;
						line-height: 1em;
						padding-left: 20px !important;
						padding-right: 20px !important;
					}
				}

				.col-narrow {
						
					&.left {
						margin-right: 4px;

						@media (max-width: 767px) {
								margin-right: 0;
								margin-bottom: 4px;
						}
					}
						
					.button {
						font-size: 14px;
						text-transform: uppercase;
						letter-spacing: 1px;
						min-width: 175px;
						padding-left: 20px;
						padding-right: 20px;

						&.blue {
							min-width: 320px;

							@media (max-width: 1150px) {
								min-width: 250px;
							}
						}

						.text {
							font-style: normal;
							font-weight: 700;
						}

						img {
							margin-left: 9px;
						}
					}
				}

				.button {
					margin: 0 !important;
				}
			}

			.button-container {
				margin-top: 65px;
			}
		}
	}
}
